.skill-wrapper
  = f.input :skill, collection: Skill.all.map(&:name),input_html: { class: 'basic-tags', data: {options: {selectize: {maxItems: 1}}} }, wrapper_html: { class: 'select selectize-wrapper' }
  = f.input :rating, as: :range, input_html: { min: 1, max: 5, step: 1 }
  = link_to_remove_association 'b', f, wrapper_class: 'skill-wrapper', class: 'secondary btn icon inline'
