.skill-wrapper
  +clearfix

  .input.select
    +span-columns(7)
    height: 50px
    +media($small)
      +fill-parent
      margin-bottom: 10px

  .input.star-rating
    +span-columns(4)
    height: 50px
    +media($small)
      +span-columns(3)

  .btn
    +span-columns(1)
    +omega
    margin-top: 60px

  .input,
  .btn
    height: 50px
    margin-top: 20px !important
