body
  padding: 0
  margin: 0

#wrapper
  +outer-container
  +pad
  position: relative
  border-radius: 10px
  width: 95%
  overflow: hidden
  
  +media($small)
    border-radius: 5px

section
  +row
  +pad
  position: relative

.hero
  +outer-container
  text-align: center
  color: white
  position: relative
  margin: 30px auto

  h2
    max-width: 50vw

.half
  +span-columns(6)
  +omega(2n)
  +media($small)
    +fill-parent

.third
  +span-columns(4)
  +media($small)
    +fill-parent

.right
  float: right

.spacer
  margin-bottom: 40px !important
