.filter-buttons
  +icon-font
  float: right

  .filter-toggle
    display: inline-block
    vertical-align: middle
    border-radius: 3px
    font-size: 22px
    text-align: center
    margin-top: 10px

    a
      margin-left: 10px
      color: rgba(black, .2)
      transition: .2s all ease

    &.active a
      color: rgba(black, .5)
      pointer-events: none

.filter
  +clearfix
  opacity: 1
  max-height: 150px
  transition: .3s all ease

  &.transitioning
    overflow: hidden

  &.hidden
    max-height: 0
    opacity: 0
    overflow: hidden

  .input.selectize-wrapper
    margin-top: 5px
    margin-bottom: 10px
    background-color: $secondary
    border-radius: 3px
