.flash
  border-radius: 3px
  background-color: $secondary
  width: 400px
  max-width: 90%
  text-align: center
  margin: 0 auto
  padding: 15px
  +alt-font
  font-size: .8em

.flash-alert span::before
  content: "\01F61E"
  font-size: 1.5em
  margin-right: 10px
  vertical-align: middle


