.flash-wrapper
  opacity: 0.9
  position: absolute
  top: 0
  left: 0
  right: 0
  padding: 25px
  text-align: center

.flash
  margin: 0 auto
  max-width: 600px
  padding: 15px
  +alt-font
  color: black
  border-radius: 6px
  background-color: rgba(white, .6)
  font-size: .8em

.flash-alert span::before
  content: "\01F61E"
  font-size: 1.5em
  margin-right: 10px
  vertical-align: middle


