.input
  input
    width: 100%
    display: block
    padding: 10px 
    border-radius: 3px
    margin: 5px 0 30px
    border: 0
    background-color: $secondary
    outline: none
    +main-font

    &:-webkit-autofill
      -webkit-box-shadow: 0 0 0px 1000px $secondary inset

  &.boolean input
    display: inline-block
    width: auto
    margin-left: 20px

  label 
    +alt-font
    font-size: 0.8em

  .hint
    +alt-font
    float: right
    opacity: .5
    font-size: 0.8em 

.btn
  display: inline-block
  padding: 15px
  margin: 10px 0
  width: 100%
  border-radius: 3px
  background-color: $primary-2
  color: white
  border: 0
  text-align: center
  font-size: 0.8em
  +alt-font
  transition: .2s all ease
  cursor: pointer

  &:hover
    background-color: darken($primary-2, 10%)
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)

  &.secondary
    background-color: $secondary
    color: rgba(black, .5)

    &:hover
      background-color: darken($secondary, 10%)

.form__links
  padding: 0
  margin: 15 0
  text-align: center

  li
    list-style-type: none
    margin-bottom: 10px
    a
      color: black
