form
  +clearfix

  .form-actions
    +clearfix

.input
  input
    width: 100%
    display: block
    padding: 15px 
    border-radius: 3px
    margin: 5px 0 40px
    background-color: $secondary
    border: 1px solid $secondary
    outline: none
    +main-font

    &:-webkit-autofill
      -webkit-box-shadow: 0 0 0px 1000px $secondary inset

  &.disabled
    opacity: .5

  &.half
    +span-columns(6)

    &:nth-of-type(2n)
      +omega

  &.third
    +span-columns(4)

    &:nth-of-type(3n)
      +omega

  &.icn
    position: relative
    input
      padding-left: 40px

    &::after
      font-family: 'icomoon'
      position: absolute
      left: 20px
      top: 50px
      transform: translateY(-50%)
      font-size: 1.1em
      color: rgba(black, 0.2)

    &.search::after
      content: '\73'
      bottom: 30px
      top: auto

    &.password::after
      content: '\70'

    &.tag .selectize-input
      padding-left: 45px !important

    &.tag::after
      content: '\66'
      top: 24px

  &.boolean input
    display: inline-block
    width: auto
    margin-left: 20px

  &.date, 
  &.select,
  &.range
    padding: 15px 
    border-radius: 3px
    margin: 5px 0 40px
    background-color: $secondary
    border: 1px solid $secondary
    margin-top: 60px
    position: relative

    &:first-of-type
      margin-top: 20px

    input
      margin: 0
      padding: 0

    select
      border: 0
      +main-font
      background-color: transparent
      outline: none

      &:focus
        color: $primary-1

    &.date 
      display: flex
      
      select
        flex: 1 1 33%
        &:not(:first-of-type):not(:last-of-type) 
          margin: 0 20px

    label, 
    .hint
      position: absolute
      top: -20px
      left: 0
      margin: 0

    .hint
      left: auto
      right: 0

  label 
    +alt-font
    font-size: 0.8em

  .hint
    +alt-font
    float: right
    opacity: .5
    font-size: 0.8em 
    margin-top: 3px

  .error
    +alt-font
    font-size: .8em
    margin-left: 5px
    color: $primary-2

  &.field_with_errors input
    border-color: $primary-2


.btn
  display: inline-block
  padding: 15px
  margin: 0 auto 10px
  width: 100%
  border-radius: 3px
  background-color: $primary-2
  color: white
  border: 0
  text-align: center
  font-size: 0.8em
  +alt-font
  transition: .2s all ease
  cursor: pointer
  outline: none
  width: auto
  float: right

  & + &
    margin-right: 15px

  &:hover
    background-color: darken($primary-2, 10%)
    box-shadow: 0 10px 30px rgba(0,0,0,0.1), 0 6px 26px rgba(0,0,0,0.2)


  &.secondary
    background-color: transparent
    color: $primary-2

    &:hover
      box-shadow: none
      background-color: transparent
      color: darken($primary-2, 20%)
  
  .icon
    font-size: 1.5em !important
    margin-right: 10px

.form__links
  padding: 0
  text-align: right
  clear: both
  margin-top: 80px
  opacity: .5

  li
    list-style-type: none
    margin-bottom: 10px
    a
      color: black

.danger
  background-color: rgba($primary-2, .1)
  border-radius: 3px
  color: $primary-2
  +pad
  margin: 0 -(flex-gutter())

  h2
    margin: 0

  p 
    display: inline-block
    float: right

  a
    color: $primary-2

.edit-btn
  margin-top: 15px
  opacity: .5
  transition: .2s all ease

  &:hover
    opacity: 1
