.input.select.selectize-wrapper
  padding: 0

.selectize-input
  border: 0
  padding: 15px
  box-shadow: none !important
  border-radius: 3px
  background-color: transparent !important

  .item
    +main-font

  &.has-items
    padding: 10px 15px

.selectize-dropdown
  border: 0
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
  background: $secondary

  .option
    +main-font
    font-weight: bold

    span
      font-weight: normal

    &.active
      background-color: white
      color: $primary-2

    img.avatar
      margin: 10px 20px 10px 10px

    .highlight
      font-weight: bold
      background-color: rgba($primary-3, 0.3)

.selectize-dropdown,
.selectize-input
  img.avatar
    width: 30px
    height: 30px
    border-radius: 30px
    vertical-align: middle
    margin-right: 30px
