table
  width: 100%
  border-collapse: collapse
  margin: 0 0 40px
  table-layout: fixed

  tr
    &.clickable
      cursor: pointer

    &.faded
      opacity: .5

  tr:not(:last-child) 
    td, 
    th
      border-bottom: 1px solid rgba($primary-2, 0.1)

  th, td
    text-align: left
    padding: 20px 0

    &.hover
      opacity: 0
      transition: 0.1s opacity ease

    &:hover ~ .hover,
    &.hover:hover
      opacity: 1

    &:last-child
      width: 50px

    &.avatar
      width: 70px
      img
        height: 30px
        width: 30px
        border-radius: 25px
        margin-left: 10px

  th
    +alt-font
    font-size: 0.8em
    opacity: .5

    a.active::after
      content: '\25B2'
      font-size: 0.6em
      vertical-align: middle
      margin: -2px 0 0 5px
      display: inline-block

    a.active.reverse::after
      content: '\25BC'

#employee-table
  padding: 0 0 20px

  #query
    margin-bottom: 20px
