@media screen and (max-width: 525px)
  // ALLOWS FOR FLUID TABLES
  .wrapper
    width: 100% !important
    max-width: 100%
  // USE THESE CLASSES TO HIDE CONTENT ON MOBILE
  .mobile-hide
    display: none !important
  .img-max
    max-width: 100% !important
    width: 100% !important
    height: auto !important
  // FULL-WIDTH TABLES
  .responsive-table
    width: 100% !important
  .mobile-button-container
    margin: 0 auto
    width: 100% !important
  .mobile-button
    padding: 15px !important
    border: 0 !important
    font-size: 16px !important
    display: block !important
