p = t("devise.mailer.invitation_instructions.hello", email: @resource.name)

p = t("devise.mailer.invitation_instructions.someone_invited_you", url: root_url)

p = render partial: 'components/email_button', locals: { label: t("devise.mailer.invitation_instructions.accept"), url: accept_invitation_url(@resource, :invitation_token => @token) }

p = t("devise.mailer.invitation_instructions.ignore").html_safe
